In [2]:
import pandas as pd
bookings = pd.read_csv('2_bookings.csv', sep=';')

In [3]:
def change(name):
    newname = name.replace(' ', '_').lower() 
    return newname
bookings = bookings.rename(columns=change)

In [12]:
bookings.shape

(119390, 21)

In [61]:
bookings.query('arrival_date_year == 2017').arrival_date_month.value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [86]:
bookings.groupby('arrival_date_year').arrival_date_month.value_counts('is_canceled >= 1')

arrival_date_year  arrival_date_month
2015               September             0.232497
                   October               0.225359
                   August                0.176805
                   December              0.132751
                   July                  0.126205
                   November              0.106383
2016               October               0.109387
                   May                   0.096602
                   April                 0.095720
                   September             0.095121
                   June                  0.093322
                   August                0.089284
                   March                 0.085069
                   July                  0.080625
                   November              0.078544
                   February              0.068616
                   December              0.068069
                   January               0.039642
2017               May                   0.155160
                   April                 0.139135
                   June                  0.138791
                   July                  0.130582
                   March                 0.122152
                   August                0.121046
                   February              0.102662
                   January               0.090471
Name: arrival_date_month, dtype: float64

In [100]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [97]:
bookings.children.mean()

0.10388990333874994

In [98]:
bookings.babies.mean()

0.007948739425412514

In [128]:
bookings['total_kids'] = bookings.children + bookings.babies
bookings.groupby('hotel').agg({'total_kids':'mean'})

              total_kids
hotel
City Hotel      0.096311
Resort Hotel    0.142586

In [175]:
bookings['has_kids'] = bookings.children + bookings.babies >= 1
bookings.groupby('has_kids').agg({'is_canceled': 'mean'})

          is_canceled
has_kids
False        0.372213
True         0.349228