В рамках дополнительного проекта попробуем освоить API, позволяющий получать данные о музейных коллекциях. Это задание может пригодиться для большего понимания того, какими способами можно собирать и обрабатывать данные, например, для собственного проекта или другой рабочей задачи. Также вы можете более глубоко изучить документацию, чтобы потом исследовать другие интересные для себя вопросы по полученным данным :)

# Описание API
Документация: https://metmuseum.github.io

**Ключ:** для использования выбранного API (на момент написания задания) ключ не требуется :)

Всего есть 4 основных раздела:

- **Объекты** (`Objects`)
- **Объект** (`Object`) – данные об объекте (например, о картине)
- **Департаменты** (`Departments`) –  данные о департаменте/разделе (например, "Современное искусство") 
- **Поиск** (`Search`) – используется для поиска

В рамках задач поработаем с блоками Object и Search.

С более подробным описанием каждого доступного параметра можно ознакомиться в [документации](https://metmuseum.github.io/).

Для начала, импортируйте нужные библиотеки:

In [1]:
# Для начала, импортируйте нужные библиотеки:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 1.
Сам запрос к API должен состоять из нескольких параметров. Пример обращения к поиску (Search):

In [2]:
# где QUERY – ключевое слово.
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?q=QUERY')
res = r.json()

Предположим, ваша задача – найти все произведения, связанные с подсолнухами. Выполните поиск по слову "sunflowers". Внимательно посмотрите на формат ответа и сохраните id полученных объектов в список `sunflower_ids`.

В качестве ответа выберите `id` объектов (3), которые присутствуют в полученном списке:

In [3]:
df = pd.DataFrame(res)

In [4]:
df

    total  objectIDs
0      12     839361
1      12     839021
2      12     778803
3      12     208967
4      12     436180
5      12     435821
6      12     437449
7      12      60451
8      12     503341
9      12     436283
10     12     436105
11     12     436883

In [5]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?q=sunflowers')
res2 = r.json()
df2 = pd.DataFrame(res2)

In [6]:
df2.head()

   total  objectIDs
0     85     436524
1     85     484935
2     85     437112
3     85     210191
4     85     431264

In [7]:
sunflower_ids = df2.objectIDs.to_list()

In [8]:
check_list = [20149,
              436524,
              2032,
              16822570,
              437329]

In [9]:
df2.query("objectIDs in @check_list")

    total  objectIDs
0      85     436524
13     85       2032
40     85     437329

In [10]:
pd.read_json('https://collectionapi.metmuseum.org/public/collection/v1/search?q=sunflowers')

    total  objectIDs
0      85     436524
1      85     484935
2      85     437112
3      85     210191
4      85     431264
..    ...        ...
80     85     437980
81     85     724844
82     85     834585
83     85     834580
84     85     834765

[85 rows x 2 columns]

# 2.
Отлично! На предыдущем шаге мы получили результаты поиска. Следущий этап – собрать информацию об этих объектах.

Пример текста запроса для получения информации об одном объекте (Object):

*где `OBJECT_ID` – id объекта.*

In [11]:
# # где OBJECT_ID – id объекта.
# r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{OBJECT_ID}')
# obj_test = r_test.json()

Выполните запрос для объекта `437980`. Для проверки соотнесите полученные параметры с их значениями:

In [12]:
# pd.read_json(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/437980') All arrays must be of the same length

OBJECT_ID = 437980
r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{OBJECT_ID}')
obj_test = r_test.json()

In [13]:
obj_test['GalleryNumber']

'825'

In [14]:
obj_test['objectID']

437980

In [15]:
obj_test['culture']

''

In [16]:
obj_test['title']

'Cypresses'

In [17]:
obj_test['artistDisplayName']

'Vincent van Gogh'

In [18]:
obj_test['department']

'European Paintings'

In [19]:
obj_test['objectName']

'Painting'

In [20]:
obj_test

{'objectID': 437980,
 'isHighlight': False,
 'accessionNumber': '49.30',
 'accessionYear': '1949',
 'isPublicDomain': True,
 'primaryImage': 'https://images.metmuseum.org/CRDImages/ep/original/DP130999.jpg',
 'primaryImageSmall': 'https://images.metmuseum.org/CRDImages/ep/web-large/DP130999.jpg',
 'additionalImages': [],
 'constituents': [{'constituentID': 161947,
   'role': 'Artist',
   'name': 'Vincent van Gogh',
   'constituentULAN_URL': 'http://vocab.getty.edu/page/ulan/500115588',
   'constituentWikidata_URL': 'https://www.wikidata.org/wiki/Q5582',
   'gender': ''}],
 'department': 'European Paintings',
 'objectName': 'Painting',
 'title': 'Cypresses',
 'culture': '',
 'period': '',
 'dynasty': '',
 'reign': '',
 'portfolio': '',
 'artistRole': 'Artist',
 'artistPrefix': '',
 'artistDisplayName': 'Vincent van Gogh',
 'artistDisplayBio': 'Dutch, Zundert 1853–1890 Auvers-sur-Oise',
 'artistSuffix': '',
 'artistAlphaSort': 'Gogh, Vincent van',
 'artistNationality': 'Dutch',
 'artistBeginDate': '1853',
 'artistEndDate': '1890',
 'artistGender': '',
 'artistWikidata_URL': 'https://www.wikidata.org/wiki/Q5582',
 'artistULAN_URL': 'http://vocab.getty.edu/page/ulan/500115588',
 'objectDate': '1889',
 'objectBeginDate': 1889,
 'objectEndDate': 1889,
 'medium': 'Oil on canvas',
 'dimensions': '36 3/4 x 29 1/8 in. (93.4 x 74 cm)',
 'measurements': [{'elementName': 'Overall',
   'elementDescription': None,
   'elementMeasurements': {'Height': 93.4, 'Width': 74}},
  {'elementName': 'Frame',
   'elementDescription': None,
   'elementMeasurements': {'Depth': 10.795,
    'Height': 116.2052,
    'Width': 96.5202}},
  {'elementName': 'Other',
   'elementDescription': 'glass',
   'elementMeasurements': {'Height': 94.29769, 'Width': 76.517654}}],
 'creditLine': 'Rogers Fund, 1949',
 'geographyType': '',
 'city': '',
 'state': '',
 'county': '',
 'country': '',
 'region': '',
 'subregion': '',
 'locale': '',
 'locus': '',
 'excavation': '',
 'river': '',
 'classification': 'Paintings',
 'rightsAndReproduction': '',
 'linkResource': '',
 'metadataDate': '2022-03-10T05:08:29.907Z',
 'repository': 'Metropolitan Museum of Art, New York, NY',
 'objectURL': 'https://www.metmuseum.org/art/collection/search/437980',
 'tags': [{'term': 'Landscapes',
   'AAT_URL': 'http://vocab.getty.edu/page/aat/300132294',
   'Wikidata_URL': 'https://www.wikidata.org/wiki/Q191163'},
  {'term': 'Cypresses',
   'AAT_URL': 'http://vocab.getty.edu/page/aat/300343641',
   'Wikidata_URL': 'https://www.wikidata.org/wiki/Q146911'}],
 'objectWikidata_URL': 'https://www.wikidata.org/wiki/Q867510',
 'isTimelineWork': True,
 'GalleryNumber': '825'}

# 3.
Теперь напишите цикл, с помощью которого будет собрана информация об объектах, которые были получены на 2 шаге. Результаты запишите в датафрейм, а именно – следующие параметры:

- **objectID** – id объекта
- **title** – название
- **artistDisplayName** – автор
- **department** – департамент
- **objectBeginDate** – дата (начало)
- **objectEndDate** – дата (конец)
- **period** – название периода
- **objectName** – название/категория объекта
- **culture** – культура

**Сколько объектов относятся к японской культуре?** (culture –Japan)

In [21]:
# [[obj_test['objectID'],
# obj_test['title'],
# obj_test['artistDisplayName'],
# obj_test['department'],
# obj_test['objectBeginDate'],
# obj_test['objectEndDate'],
# obj_test['period'],
# obj_test['objectName'],
# obj_test['culture']]]

In [22]:
# temp_df = pd.DataFrame([[obj_test['objectID'],
#                         obj_test['title'],
#                         obj_test['artistDisplayName'],
#                         obj_test['department'],
#                         obj_test['objectBeginDate'],
#                         obj_test['objectEndDate'],
#                         obj_test['period'],
#                         obj_test['objectName'],
#                         obj_test['culture']]],
#                        columns=cols
#                       )

In [23]:
# df3.append(temp_df)

In [24]:
cols = ['objectID',
'title',
'artistDisplayName',
'department',
'objectBeginDate',
'objectEndDate',
'period',
'objectName',
'culture']

df3 = pd.DataFrame(columns=cols)
df3

Empty DataFrame
Columns: [objectID, title, artistDisplayName, department, objectBeginDate, objectEndDate, period, objectName, culture]
Index: []

In [25]:
for OBJECT_ID in sunflower_ids:
    try:
        r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{OBJECT_ID}')
        obj = r_test.json()
#         print(OBJECT_ID, obj['objectID'], sep='*:*')
        temp_df = pd.DataFrame([[obj['objectID'],
                                 obj['title'],
                                 obj['artistDisplayName'],
                                 obj['department'],
                                 obj['objectBeginDate'],
                                 obj['objectEndDate'],
                                 obj['period'],
                                 obj['objectName'],
                                 obj['culture']]],
                               columns=cols
                              )
        df3 = df3.append(temp_df)
    except:
        print(f'Error: {OBJECT_ID}')

Error: 704667
Error: 696949
Error: 839296

In [26]:
df3

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
0,436524,Sunflowers,Vincent van Gogh,European Paintings,1887,1887,,Painting,
0,484935,Sunflowers,Edward McKnight Kauffer,Modern and Contemporary Art,1921,1921,,Painting,
0,437112,Bouquet of Sunflowers,Claude Monet,European Paintings,1881,1881,,Painting,
0,210191,Vase with sunflowers,Rozenburg Plateelfabriek,European Sculpture and Decorative Arts,1896,1896,,Vase,
0,431264,Sunflowers,Lily Converse,Drawings and Prints,1941,1941,,Print,
...,...,...,...,...,...,...,...,...,...
0,437980,Cypresses,Vincent van Gogh,European Paintings,1889,1889,,Painting,
0,724844,Design for Embroidery with Two Large Garlands ...,Italian School,Drawings and Prints,1845,1905,,Drawing Ornament & Architecture,
0,834585,"A Life in a Year–The Garden–Noon, from ""Pictur...",Arthur Boyd Houghton,Drawings and Prints,1866,1874,,Print,
0,834580,"A Life in a Year–The Garden–Noon, from ""Pictur...",Arthur Boyd Houghton,Drawings and Prints,1866,1874,,Print,
0,834765,"A Child's Garden, from ""Picture Poesies""",Arthur Boyd Houghton,Drawings and Prints,1865,1874,,Print,

In [29]:
df3.culture.value_counts()

                    71
American             8
Japan                1
British              1
Ancestral Pueblo     1
Name: culture, dtype: int64

# 4.
Теперь попробуем построить более сложный запрос с помощью секции "Search"! На этот раз параметры необходимо передать через "&", например, `departmentId` (id департамента – 1) и `q` (ключевое слово – cat):

~~~Python
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=1&q=cat')
cats = r.json()
~~~

Выполните поисковый запрос для департамента "Asian art" (departmentId = `6`) с тегом "cat" и запишите id объектов в `cat_ids`. Используйте цикл из шага 4, чтобы получить данные о первой `1000` объектов из списка.

Note: выполнение цикла может занять некоторое время (~5 минут), поэтому проверять его работоспособность лучше на более маленькой выборке!

В качестве ответа укажите, в каком периоде (`period`) было выполнено наибольшее количество работ, представленных в музее?

In [30]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=6&q=cat')
cats = r.json()

In [33]:
cat_ids = cats['objectIDs']
len(cat_ids)

2894

In [38]:
df4 = pd.DataFrame(columns=cols)
df4

Empty DataFrame
Columns: [objectID, title, artistDisplayName, department, objectBeginDate, objectEndDate, period, objectName, culture]
Index: []

In [40]:
for OBJECT_ID in cat_ids[:1000]:
    try:
        r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{OBJECT_ID}')
        obj = r_test.json()
#         print(OBJECT_ID, obj['objectID'], sep='*:*')
        temp_df = pd.DataFrame([[obj['objectID'],
                                 obj['title'],
                                 obj['artistDisplayName'],
                                 obj['department'],
                                 obj['objectBeginDate'],
                                 obj['objectEndDate'],
                                 obj['period'],
                                 obj['objectName'],
                                 obj['culture']]],
                               columns=cols
                              )
        df4 = df4.append(temp_df)
    except:
        print(f'Error: {OBJECT_ID}')

In [41]:
df4.head()

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
0,49698,Cat,Zhang Yuguang,Asian Art,1900,1968,,Folding fan mounted as an album leaf,China
0,49470,Cat,Wang Li,Asian Art,1813,1879,Qing dynasty (1644–1911),Hanging scroll,China
0,53222,Musk Cat,Uto Gyoshi,Asian Art,1550,1599,Muromachi period (1392–1573),Hanging scroll,Japan
0,36221,Cat,Wang Yun,Asian Art,1900,1933,,Hanging scroll,China
0,60873,Burial Crown,,Asian Art,960,1279,Song dynasty (960–1279) or later,Burial crown,China

In [42]:
df4.period.value_counts()

Edo period (1615–1868)                                 434
                                                        96
Ming dynasty (1368–1644)                                50
Qing dynasty (1644–1911)                                49
Muromachi period (1392–1573)                            32
                                                      ...
Mughal period (1526–1858)                                1
Muromachi (1392–1573)–Momoyama (1573–1615) period        1
Yuan (1271–1368) to early Ming (1368–1644) dynasty       1
Momoyama (1573–1615) or Edo (1615–1868) period           1
late Edo (1615–1868)-early Meiji period (1868–1912)      1
Name: period, Length: 119, dtype: int64