In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

import plotly.express as px

In [18]:
df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-a-a-30/Lesson_6/avocado_mean.csv')
df

           Date  AveragePrice
0    2015-01-04      1.301296
1    2015-01-11      1.370648
2    2015-01-18      1.391111
3    2015-01-25      1.397130
4    2015-02-01      1.247037
..          ...           ...
164  2018-02-25      1.359630
165  2018-03-04      1.350185
166  2018-03-11      1.335093
167  2018-03-18      1.313704
168  2018-03-25      1.346852

[169 rows x 2 columns]

In [19]:
df.AveragePrice.rolling(10).mean()

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
164    1.354796
165    1.345824
166    1.350981
167    1.346574
168    1.339000
Name: AveragePrice, Length: 169, dtype: float64

In [20]:
# Font size will be increased, background of figures will be white, grid will be present and size of plots will be increased

sns.set(
    font_scale=2,
    style="whitegrid",
    rc={'figure.figsize':(20,7)}
        )