In [1]:
import requests
import pandas as pd
from datetime import timedelta
from datetime import datetime

In [2]:
top_data_df = pd.read_csv('http://s3.amazonaws.com/alexa-static/top-1m.csv.zip', names=['rank', 'domain'])
top_data_df.head()

   rank        domain
0     1    google.com
1     2   youtube.com
2     3     baidu.com
3     4  bilibili.com
4     5  facebook.com

In [57]:
# таск 1
top_zones = top_data_df
top_zones['zones'] = top_data_df.domain.str.split('.')
top_zones['zone'] = top_zones.zones.apply(lambda x: x[-1])
top_10_zones = top_zones.groupby('zone', as_index=False) \
                                 .agg({'domain':'count'}) \
                                 .sort_values('domain', ascending=False).head(10)
top_10_zones

    zone  domain
145  com  314633
476  org   26635
450  net   24555
541   ru   17092
176   de   10929
34    au    9435
460   nl    9141
335   it    8905
655   uk    8367
499   pl    8117

In [58]:
# таск 2
domain_lenth = top_data_df
domain_lenth['dom_len'] = top_data_df.domain.str.len()
domain_longest = domain_lenth.sort_values(['dom_len','domain'], ascending=[False,True]).domain.iloc[0]
domain_longest

'file-service-default-114c67af0763a8a98e770ff3ee495371.fra1.digitaloceanspaces.com'

In [59]:
# таск 3
airflow_rank = []

if top_data_df['domain'].apply(lambda x: x == 'airflow.com').any():
    airflow_rank.append(top_data_df.loc[top_data_df['domain'] == 'airflow.com', 'rank'].iloc[0])
else:
    airflow_rank.append('there is no airflow.com domain in this data')
    
airflow_rank

['there is no airflow.com domain in this data']