In [1]:
import pandas as pd

# Урок 5

Имеются следующие данные о транзакциях в период с 01.12.2010 по 12.09.2011:

- **InvoiceNo** — номер транзакции
- **StockCode** — код товара
- **Description** — описание товара
- **Quantity** — количество единиц товара, добавленных в заказ
- **InvoiceDate** — дата транзакции 
- **UnitPrice** — цена за единицу товара
- **CustomerID** — id клиента
- **Country** — страна, где проживает клиент
Данные можно скачать отсюда `5_data.csv.zip`.

Импортируйте пандас и прочитайте данные с кодировкой `ISO-8859-1`. Запишите полученный датафрейм в `retail`, а названия колонок сохраните в переменную `retail_columns`.

In [2]:
retail = pd.read_csv('5_data.csv.zip', encoding='ISO-8859-1', parse_dates=['InvoiceDate'])

In [3]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
retail.shape

(541909, 8)

In [5]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [6]:
# названия колонок сохраните в переменную retail_columns
retail_columns = retail.columns
retail_columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

Проверьте, встречаются ли в данных повторяющиеся наблюдения, и в качестве ответа укажите их количество.
Если они есть, то удалите их из `retail`.

In [7]:
retail.duplicated().sum()

5268

In [8]:
start_rows = retail.shape[0]

In [9]:
retail = retail.drop_duplicates()

In [10]:
start_rows - retail.shape[0]

5268

## ⭐️ Задание со звёздочкой! ⭐️

Данные содержат в себе записи как об успешных транзакциях, так и об отмененных. Если пользователь отменил заказ, в начале номера транзакции (`InvoiceNo`) ставится C (`canceled`). 

Сколько всего транзакций отменили пользователи? Каждый отдельный тип продукта считайте за отдельную транзакцию - уникальные номера считать не надо.

In [11]:
retail.InvoiceNo.str.startswith('C').sum()

9251

In [12]:
retail[retail.InvoiceNo.str.startswith('C')]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

Теперь отфильтруйте данные и оставьте в `retail` только те заказы, где `Quantity > 0`. В качестве ответа укажите число оставшихся строк.

In [13]:
retail.query("Quantity > 0").shape[0]

526054

## 💀 Сложное задание! 💀

Посчитайте число заказов для каждого пользователя (`CustomerID`) из Германии (`Germany`).

Оставьте только тех, кто совершил более N транзакций (`InvoiceNo`), где N – 80% процентиль.

Запишите полученные `id` пользователей в `germany_top` (не весь датафрейм, только `id`).

*Отфильтрованные данные записаны в `retail`. Идентификатор заказа – `InvoiceNo`. Для каждого заказа в данных может встречаться более 1 строки.*

In [14]:
quantile80 = int(
                retail
                    .query("Country == 'Germany'")
                    .groupby('CustomerID')
                    .agg({'InvoiceNo': 'nunique'})
                    .quantile(0.8)
)
quantile80

9

In [15]:
germany_top = (retail
                .query("Country == 'Germany'")
                .groupby('CustomerID')
                .agg({'InvoiceNo': 'nunique'})
                .rename(columns={'InvoiceNo': 'InvoiceCount'})
                .query("InvoiceCount > @quantile80")
                .index
)
germany_top

Float64Index([12471.0, 12472.0, 12474.0, 12476.0, 12481.0, 12500.0, 12569.0,
              12600.0, 12619.0, 12621.0, 12626.0, 12647.0, 12662.0, 12705.0,
              12708.0, 12709.0, 12712.0, 12720.0],
             dtype='float64', name='CustomerID')

## ⭐️ Задание со звёздочкой! ⭐️

Используя объект с `id` пользователей (`germany_top`), полученный на предыдущем шаге, отфильтруйте наблюдения и оставьте в данных записи только по интересующим нас юзерам. Результирующий датафрейм запишите в `top_retail_germany`.

Датафрейм записан в `retail`, нужные `id` пользователей – в `germany_top`.

In [16]:
top_retail_germany = retail.query("CustomerID in @germany_top")
top_retail_germany.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662.0,Germany
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662.0,Germany
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662.0,Germany
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662.0,Germany
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662.0,Germany

Сгруппируйте `top_retail_germany` по коду товара (`StockCode`). Какой из продуктов добавляли в корзину чаще всего, кроме `POST`? 

***Note***: одним заказом считается единовременная покупка любого количества товара, т.е. без учета Quantity.

In [17]:
(top_retail_germany
     .groupby('StockCode')
     .agg({'Description': 'count'})
     .rename(columns={'Description':'Count'})
     .sort_values('Count', ascending=False)
)

           Count
StockCode
POST         219
22326         62
22423         55
22328         45
22467         37
...          ...
23008          1
22999          1
20717          1
22119          1
22821          1

[1168 rows x 1 columns]

Вернемся к анализу полного датасета `retail`. Создайте колонку `Revenue` с суммой покупки, используя колонки `Quantity` и `UnitPrice`.

In [18]:
retail['Revenue'] = retail.Quantity * retail.UnitPrice
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

Для каждой транзакции (`InvoiceNo`), посчитайте финальную сумму заказа. В качестве ответа укажите топ-5 (`InvoiceNo`) по сумме заказа (через запятую с пробелом и в порядке убывания `TotalRevenue`)

In [19]:
result = (
            retail
                .groupby('InvoiceNo')
                .agg({'Revenue': 'sum'})
                .rename(columns={'Revenue': 'TotalRevenue'})
                .sort_values('TotalRevenue', ascending=False)
                .head(5)
                .index
                .to_list()
)

In [20]:
print(*result, sep=', ')

581483, 541431, 574941, 576365, 556444