In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/home/jupyter-d.bezhenar-15/shared/hall_of_fame/lesson_3_data_1_.csv', encoding='windows-1251')

In [5]:
df[:1]

,Unnamed: 0,tk,pl,dia,hs,tc,cta,id_art,id_subsubfam,id_subfam,...,id_famn,id_seccion,id_subagr,id_agr,vta,uni,id_artn,art_sp,fam_sp,fam_en
0,1242,120071109002055793,1,2007/11/09,0.505729,110000761,11000076,21895,101070640100,1010706401,...,10107064,10107,101,1,0.68,1.0,21895,MARAVILLA 500 G Store_Brand,PASTA ALIMENTICIA SE,pasta

In [6]:
user_df = df[['tc', 'art_sp']][:5]

In [7]:
user_df

          tc                              art_sp
0  110000761  MARAVILLA        500 G Store_Brand
1  110000761  FIDEO CABELLIN   500 G Store_Brand
2   28491841        SPAGUETTI Nє 5 500 G Brand_1
3   95931501       FIDEO FIDEUБ      500 Brand_7
4   93265591      MACARRONES  GRATINAR 5 Brand_2

In [9]:
user_df = user_df.set_axis(['user_id', 'brand_info'], axis=1)
user_df

     user_id                          brand_info
0  110000761  MARAVILLA        500 G Store_Brand
1  110000761  FIDEO CABELLIN   500 G Store_Brand
2   28491841        SPAGUETTI Nє 5 500 G Brand_1
3   95931501       FIDEO FIDEUБ      500 Brand_7
4   93265591      MACARRONES  GRATINAR 5 Brand_2

In [12]:
b = 'MARAVILLA 500 G Store_Brand'
a = b.split()
a

['MARAVILLA', '500', 'G', 'Store_Brand']

In [15]:
def split_brand(brand_name_data):
    return brand_name_data.split(' ')[-1]

In [17]:
user_df.brand_name = user_df.brand_info.apply(split_brand)

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.