In [1]:
import pandas as pd

In [2]:
bookings  = pd.read_csv('/home/jupyter-d.bezhenar-15/shared/homeworks/python_ds_miniprojects/2/bookings.csv', sep=';')

In [3]:
bookings.shape[1]

21

In [4]:
bookings.dtypes.value_counts()

int64      10
object     10
float64     1
dtype: int64

In [5]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [6]:
bookings.columns.str.replace(' ', '_').str.lower()

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [7]:
bookings = bookings.set_axis(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'], axis=1)

In [8]:
def replace_col(name):
    new_name = name.replace(' ', '_').lower()
    return new_name
bookings = bookings.rename(replace_col, axis=1)

In [9]:
bookings[['country', 'reservation_status', 'reservation_status_date', 'is_canceled']][:5]

  country reservation_status reservation_status_date  is_canceled
0     PRT          Check-Out              2015-07-01            0
1     PRT          Check-Out              2015-07-01            0
2     GBR          Check-Out              2015-07-02            0
3     GBR          Check-Out              2015-07-02            0
4     GBR          Check-Out              2015-07-03            0

In [10]:
bookings \
.query('is_canceled == 0' and 'reservation_status == "Check-Out"') \
.groupby('country', as_index=False) \
.agg({'is_canceled':'count'}) \
.sort_values('is_canceled', ascending=False)[:5]

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069

In [11]:
bookings \
.groupby('hotel', as_index=False) \
.agg({'stays_total_nights':'mean'}) \
.round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [12]:
bookings \
.query('reserved_room_type != assigned_room_type').shape[0]

14917

In [13]:
bookings \
.query('arrival_date_year != 2015 & arrival_date_month in ["September", "October", "May"]') \
.groupby(['arrival_date_month', 'arrival_date_year']) \
.agg({'arrival_date_month':'count'})

                                      arrival_date_month
arrival_date_month arrival_date_year
May                2016                             5478
                   2017                             6313
October            2016                             6203
September          2016                             5394

In [14]:
bookings \
.query('hotel == "City Hotel" & is_canceled == 1 & arrival_date_month in ["September", "October", "May"]') \
.groupby(['arrival_date_year', 'arrival_date_month'], as_index=False) \
.agg({'is_canceled':'count'})

   arrival_date_year arrival_date_month  is_canceled
0               2015            October         1321
1               2015          September         1543
2               2016                May         1436
3               2016            October         1947
4               2016          September         1567
5               2017                May         2217

In [15]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [16]:
bookings.insert(1, 'total_kids', bookings['children'] + bookings['babies'])

In [17]:
bookings \
.groupby(['hotel']) \
.agg({'total_kids':'mean'}) \
.round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [71]:
bookings.shape[0]

119390

In [47]:
count_0 = 0
count_1 = 0
for i in bookings.is_canceled:
    if i == 0:
        count_0 += 1
    else:
        count_1 += 1
print(count_0, count_1)

75166 44224

In [ ]:
bookings.insert(2, 'has_kids', bookings['total_kids'] > 0)