In [1]:
import pandas as pd
import os

In [2]:
path = '/home/jupyter-d.bezhenar-15/shared/homeworks/python_ds_miniprojects/4/data/'

In [5]:

df = pd.DataFrame(df)

for root, dirs, files in os.walk(path):
    for file in files:
        path_file = os.path.join(root, file)
        
        df_add = pd.read_csv(path_file)
        
        
        
        path_name = root.split('/')
        date = path_name[-2]
        name = path_name[-1]
        
        df_add['date'] = date
        df_add['name'] = name
        
        df = pd.concat((df, df_add))  
df

    Unnamed: 0  product_id  quantity        date            name
0            0          27         4  2020-12-05     Petr_Ivanov
1            1          89         1  2020-12-05     Petr_Ivanov
2            2          33         2  2020-12-05     Petr_Ivanov
3            3           8         3  2020-12-05     Petr_Ivanov
4            4          16         1  2020-12-05     Petr_Ivanov
..         ...         ...       ...         ...             ...
0            0          18         4  2020-12-07    Petr_Fedorov
1            1          94         4  2020-12-07    Petr_Fedorov
0            0          95         2  2020-12-07  Vasiliy_Ivanov
1            1          83         3  2020-12-07  Vasiliy_Ivanov
2            2          64         1  2020-12-07  Vasiliy_Ivanov

[322 rows x 5 columns]

In [129]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [5]:
df

    Unnamed: 0  product_id  quantity        date            name
0            0          27         4  2020-12-05     Petr_Ivanov
1            1          89         1  2020-12-05     Petr_Ivanov
2            2          33         2  2020-12-05     Petr_Ivanov
3            3           8         3  2020-12-05     Petr_Ivanov
4            4          16         1  2020-12-05     Petr_Ivanov
..         ...         ...       ...         ...             ...
0            0          18         4  2020-12-07    Petr_Fedorov
1            1          94         4  2020-12-07    Petr_Fedorov
0            0          95         2  2020-12-07  Vasiliy_Ivanov
1            1          83         3  2020-12-07  Vasiliy_Ivanov
2            2          64         1  2020-12-07  Vasiliy_Ivanov

[161 rows x 5 columns]

In [131]:
df.reset_index(drop=True, inplace=True)