In [1]:
import requests
import pandas as pd
from datetime import timedelta
from datetime import datetime

from airflow import DAG
from airflow.operators.python import PythonOperator

In [6]:
TOP_1M_DOMAINS = 'http://s3.amazonaws.com/alexa-static/top-1m.csv.zip'
TOP_1M_DOMAINS_FILE = 'top-1m.csv'

In [3]:
top_doms = pd.read_csv(TOP_1M_DOMAINS)
top_data = top_doms.to_csv(index=False)

In [14]:
top_data_df = pd.read_csv(TOP_1M_DOMAINS, names=['rank', 'domain'])

In [7]:
top_data_df = pd.read_csv(TOP_1M_DOMAINS, names=['rank', 'domain'])
top_domain_zones_df = top_data_df.domain.str.split(pat = '.', expand=True)
top_domain_zones_df = top_domain_zones_df[[0, 1]]
top_domain_zones_df = top_domain_zones_df.groupby( 1, as_index = False)\
                                             .agg({0 : 'count'})\
                                             .sort_values(0, ascending= False)\
                                             .head(10)
with open('top_domain_zones.csv', 'w') as f:
        f.write(top_domain_zones_df.to_csv(index=False, header=False))

In [2]:
with open('top_domain_zones_df.csv', 'r') as f:
        top_domain_zones = f.read()

In [3]:
date = '21-05'

print(f'Top domains for date {date}')
print(top_domain_zones)

Top domains for date 21-05
com,348372
org,30953
co,25845
net,24428
ru,20957
de,9644
nl,9131
it,7829
sharepoint,7365
ir,6497

In [22]:
top_data_df.query('domain == "airflow.com"')

Empty DataFrame
Columns: [rank, domain]
Index: []

In [61]:
test = top_data_df[top_data_df['domain'].str.startswith('airflow.com')].head(1)

In [64]:
top_data_df = pd.read_csv(TOP_1M_DOMAINS, names=['rank', 'domain'])
airflow_rank_in_list = top_data_df[top_data_df['domain'].str.startswith('airflow.com')].head(1)
try:
    print(test['rank'].to_list()[0] , 'is position Airflow in list domains')
except IndexError:
    print("Airflow.com is missing in list domains")

Airflow.com is missing in list domains

In [48]:
test['rank'].to_list()[0]

320194

In [41]:
test

          rank                  domain
320193  320194  airflow.readthedocs.io

In [16]:
top_domain_zones_df = top_data_df.domain.str.split(pat = '.', expand=True)

In [17]:
top_domain_zones_df = top_domain_zones_df[[0, 1]]

In [19]:
top_domain_zones_df

                  0    1
0            google  com
1           youtube  com
2          facebook  com
3             baidu  com
4          bilibili  com
...             ...  ...
678222  winningstar  com
678223   wrnsstudio  com
678224        zetdc   co
678225   zohopublic  com
678226          zol   co

[678227 rows x 2 columns]

In [23]:
top_domain_zones_df =top_domain_zones_df.groupby( 1, as_index = False).agg({0 : 'count'}).sort_values(0, ascending= False).head(10)

In [24]:
top_domain_zones_df

               1       0
248          com  348372
891          org   30953
242           co   25845
824          net   24428
1030          ru   20957
294           de    9644
841           nl    9131
594           it    7829
1082  sharepoint    7365
589           ir    6497

In [7]:
top_data_df.domain.str.len().max()

81

In [6]:
top_data_df.domain.str.len()

0         10
1         11
2         12
3          9
4         12
          ..
678222    15
678223    14
678224    11
678225    17
678226     9
Name: domain, Length: 678227, dtype: int64

In [8]:
top_data_df['len'] = top_data_df.domain.str.len()

In [19]:
top

81

In [10]:
max_len = top_data_df.domain.str.len().max()
long_name = top_data_df[top_data_df.len == max_len].sort_values('domain').head(1)

In [11]:
with open('long_name.csv', 'w') as f:
        f.write(long_name.to_csv(index=False, header=False))

In [11]:
top_data_df.domain.str.len().max()

81

In [13]:
top_data_df[top_data_df['domain'].str.len().81]

SyntaxError: invalid syntax (<ipython-input-13-bc30698a819f>, line 1)

In [10]:
top_data_df

          rank             domain
0            1         google.com
1            2        youtube.com
2            3       facebook.com
3            4          baidu.com
4            5       bilibili.com
...        ...                ...
678222  678223    winningstar.com
678223  678224     wrnsstudio.com
678224  678225        zetdc.co.zw
678225  678226  zohopublic.com.au
678226  678227          zol.co.zw

[678227 rows x 2 columns]

In [8]:
top_data_df = pd.read_csv(TOP_1M_DOMAINS, names=['rank', 'domain'])
airflow_rank_in_list = top_data_df[top_data_df['domain'].str.startswith('airflow.com')].head(1)

In [12]:
print(airflow_rank_in_list['rank'].to_list()[0] , 'is position Airflow in list domains')

IndexError: list index out of range

In [11]:
try:
    print(airflow_rank_in_list['rank'].to_list()[0] , 'is position Airflow in list domains')
except :
    print("Airflow.com is missing in list domains")

Airflow.com is missing in list domains