In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('/home/jupyter-o-zabodaeva-19/users - Лист1(1).csv')

In [7]:
df.head()

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [ ]:
https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv

In [10]:
from io import BytesIO
import requests


req = requests.get('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')
data = req.content

df = pd.read_csv(BytesIO(data))

In [11]:
df.head()

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [15]:
a=117/df.users.sum()*100
a.round(0)

41.0

In [2]:
import numpy as np

In [7]:
df2=pd.read_csv('https://stepik.org/media/attachments/lesson/361619/sample_ads.csv')

In [10]:
df2.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [17]:
df2.click_type=df2.click_type.isna()
a=df2.click_type.sum()

In [19]:
b=df2.shape[0]

TypeError: 'tuple' object is not callable

In [21]:
not_nan_count= df2.shape[0] - df2.click_type.sum()

In [32]:
lts=['1', '2','Hello', '3', '4']

In [33]:
new_lts=[]

In [34]:
for i in lts:
    try:
        int(i)
        new_lts.append(i)
    except:
        continue

In [35]:
new_lts

['1', '2', '3', '4']