In [1]:
import pandas as pd

In [5]:
bookings= pd.read_csv('/home/jupyter-o-zabodaeva-19/shared/homeworks/python_ds_miniprojects/2/bookings.csv', encoding='windows-1251', sep=';')

In [7]:
bookings_head= bookings.head(7)

In [8]:
bookings.shape

(119390, 21)

In [9]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [10]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [11]:
bookings.columns
name_col=bookings.columns
new_name_col= name_col.str.lower().str.replace(' ', '_')
bookings=bookings.rename(columns= {'Hotel':'hotel',
                'Is Canceled':'is_canceled', 
                'Lead Time':'lead_time', 
                'arrival full date':'arrival_full_date',
       'Arrival Date Year':'arrival_date_year',
                'Arrival Date Month':'arrival_date_month', 
                'Arrival Date Week Number':'arrival_date_week_number',
       'Arrival Date Day of Month':'arrival_date_day_of_month', 
                'Stays in Weekend nights':'stays_in_weekend_nights',
       'Stays in week nights':'stays_in_week_nights', 
                'stays total nights':'stays_total_nights', 
                'Adults':'adults',
                'Children':'children',
       'Babies':'babies', 
                'Meal':'meal', 
                'Country':'country', 
                'Reserved Room Type':'reserved_room_type',
                'Assigned room type':'assigned_room_type',
       'customer type':'customer_type',
                'Reservation Status':'reservation_status', 
                'Reservation status_date':'reservation_status_date'})

In [12]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [53]:
bookings_country= bookings.query('is_canceled==0')
bookings_country. country.value_counts().head()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

In [65]:
bh=bookings.groupby('hotel')\
.agg({'stays_total_nights': 'mean'})\
.round(2)

In [66]:
bh.head()

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.

Сколько подобных наблюдений встретилось в датасете?

*отмена бронирования также считается

In [85]:
bookings.query('assigned_room_type!=reserved_room_type' ).shape

(14917, 21)

Теперь проанализируйте даты запланированного прибытия (arrival_date_year).

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [89]:
bookings.query('arrival_date_year==2016')\
.value_counts('arrival_date_month').head()

arrival_date_month
October      6203
May          5478
April        5428
September    5394
June         5292
dtype: int64

In [90]:
bookings.query('arrival_date_year==2017')\
.value_counts('arrival_date_month').head()

arrival_date_month
May      6313
April    5661
June     5647
July     5313
March    4970
dtype: int64

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 

Hint: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий :)

In [95]:
m=bookings.query("is_canceled==1 and hotel=='City Hotel'")
m.groupby('arrival_date_year').arrival_date_month.value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [102]:
bookings.groupby(['adults','children', 'babies']).mean().idxmax()

is_canceled                   (1, 2.0, 1)
lead_time                    (27, 0.0, 0)
arrival_date_year             (1, 1.0, 1)
arrival_date_week_number      (1, 0.0, 9)
arrival_date_day_of_month     (2, 1.0, 2)
stays_in_weekend_nights      (2, 10.0, 0)
stays_in_week_nights         (2, 10.0, 0)
stays_total_nights           (2, 10.0, 0)
dtype: object

In [108]:
bookings['total_kids']=bookings.children + bookings.babies
bookings.groupby('hotel')\
.agg({'total_kids': 'mean'})\
.round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [115]:
bookings['has_kids']=bookings.total_kids!=0

In [118]:
bookings.groupby('has_kids').agg({'is_canceled': 'value_counts'})

                      is_canceled
has_kids is_canceled
False    0                  69093
         1                  40961
True     0                   6073
         1                   3263

In [119]:
churt_rate= 40961/110054*100

In [121]:
churt_rate

37.219001581042036

In [120]:
churt_rate.round(2)

AttributeError: 'float' object has no attribute 'round'