### Задания:

Найти ответы на следующие вопросы:

1) Какая игра была самой продаваемой в этом году во всем мире?
2) Игры какого жанра были самыми продаваемыми в Европе? Перечислить все, если их несколько
3) На какой платформе было больше всего игр, которые продались более чем миллионным тиражом в Северной Америке?
Перечислить все, если их несколько
4) У какого издателя самые высокие средние продажи в Японии?
Перечислить все, если их несколько
5) Сколько игр продались лучше в Европе, чем в Японии?

In [1]:
import pandas as pd
import numpy as np

In [2]:
# path = 'https://git.lab.karpov.courses/lab/airflow/-/blob/master/dags/a.batalov/vgsales.csv'
path = '/Users/sergeyss/Documents/Documents_main/Karpov_Analist/airflow/vgsales.csv'

In [3]:
df = pd.read_csv(path)

In [4]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [6]:
df.Year = pd.to_datetime(df.Year, format="%Y")

In [7]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006-01-01,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985-01-01,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008-01-01,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009-01-01,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996-01-01,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  datetime64[ns]
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 1.4+ MB

In [29]:
# В файле есть строки с пустыми датами
# и издателями

In [9]:
df[df.Year.isnull()]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
179,180,Madden NFL 2004,PS2,NaT,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaT,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaT,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaT,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,2600,NaT,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16307,16310,Freaky Flyers,GC,NaT,Racing,Unknown,0.01,0.00,0.00,0.00,0.01
16327,16330,Inversion,PC,NaT,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01
16366,16369,Hakuouki: Shinsengumi Kitan,PS3,NaT,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01
16427,16430,Virtua Quest,GC,NaT,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaT,Action,Unknown,0.00,0.01,0.00,0.00,0.01

In [11]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006-01-01,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985-01-01,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008-01-01,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009-01-01,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996-01-01,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [12]:
df.query('Name == "Madden NFL 2004"')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
179,180,Madden NFL 2004,PS2,NaT,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
1881,1883,Madden NFL 2004,XB,2003-01-01,Sports,Electronic Arts,1.02,0.02,0.00,0.05,1.09
3896,3898,Madden NFL 2004,GC,2003-01-01,Sports,Electronic Arts,0.40,0.10,0.00,0.01,0.51
5712,5714,Madden NFL 2004,GBA,2003-01-01,Sports,Electronic Arts,0.22,0.08,0.00,0.01,0.31

In [14]:
df.query('Year.notna()')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006-01-01,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985-01-01,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008-01-01,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009-01-01,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996-01-01,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002-01-01,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003-01-01,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008-01-01,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010-01-01,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003-01-01,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [15]:
# отберем все строки с непустыми годами в отдельную таблицу
df_name_year = df.query('Year.notna()')[['Name', 'Year']]

In [16]:
# удалим дубликаты
df_name_year = df_name_year.drop_duplicates('Name')

In [17]:
df_name_year.head()

                       Name       Year
0                Wii Sports 2006-01-01
1         Super Mario Bros. 1985-01-01
2            Mario Kart Wii 2008-01-01
3         Wii Sports Resort 2009-01-01
4  Pokemon Red/Pokemon Blue 1996-01-01

In [18]:
# преобразуем данные в словарь
df_name_year_dict = pd.Series(df.Year.values,index=df.Name).to_dict()

In [19]:
df_name_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11360 entries, 0 to 16596
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    11360 non-null  object
 1   Year    11360 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 266.2+ KB

In [20]:
# заполним пропуски в данных по годам значениями из словаря
# (т.к. на разные платформы игры выходили в один год
df.Year = df.Name.map(df_name_year_dict)

In [21]:
# отберем все строки с непустыми Publisher в отдельную таблицу
df_name_Publisher = df.query('Publisher.notna()')[['Name', 'Publisher']]

In [22]:
# удалим дубликаты
df_name_Publisher = df_name_Publisher.drop_duplicates('Name')

In [23]:
df_name_Publisher

                                                    Name           Publisher
0                                             Wii Sports            Nintendo
1                                      Super Mario Bros.            Nintendo
2                                         Mario Kart Wii            Nintendo
3                                      Wii Sports Resort            Nintendo
4                               Pokemon Red/Pokemon Blue            Nintendo
...                                                  ...                 ...
16589  Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...     dramatic create
16590  Eiyuu Densetsu: Sora no Kiseki Material Collec...  Falcom Corporation
16592                                           Plushees           Destineer
16593                 Woody Woodpecker in Crazy Castle 5               Kemco
16596                                         Know How 2            7G//AMES

[11442 rows x 2 columns]

In [24]:
# преобразуем данные в словарь
df_name_Publisher_dict = pd.Series(df.Publisher.values,index=df.Name).to_dict()

In [25]:
# заполним пропуски в данных по издателям из словаря
# (т.к. на разные платформы игры от одного и того же издателя
df.Publisher = df.Name.map(df_name_Publisher_dict)

In [27]:
# Удалим оставшиеся пропуски
df = df.dropna()

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16263 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16263 non-null  int64
 1   Name          16263 non-null  object
 2   Platform      16263 non-null  object
 3   Year          16263 non-null  datetime64[ns]
 4   Genre         16263 non-null  object
 5   Publisher     16263 non-null  object
 6   NA_Sales      16263 non-null  float64
 7   EU_Sales      16263 non-null  float64
 8   JP_Sales      16263 non-null  float64
 9   Other_Sales   16263 non-null  float64
 10  Global_Sales  16263 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 1.5+ MB

In [34]:
year = pd.to_datetime('01-01-2010')

In [84]:
# отберем данные за нужный год
df_y = df.query('Year == @year')

In [85]:
df_y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1239 entries, 15 to 16596
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          1239 non-null   int64
 1   Name          1239 non-null   object
 2   Platform      1239 non-null   object
 3   Year          1239 non-null   datetime64[ns]
 4   Genre         1239 non-null   object
 5   Publisher     1239 non-null   object
 6   NA_Sales      1239 non-null   float64
 7   EU_Sales      1239 non-null   float64
 8   JP_Sales      1239 non-null   float64
 9   Other_Sales   1239 non-null   float64
 10  Global_Sales  1239 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 116.2+ KB

### 1) Какая игра была самой продаваемой в этом году во всем мире?

In [31]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006-01-01,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1999-01-01,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008-01-01,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009-01-01,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996-01-01,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [35]:
year

Timestamp('2010-01-01 00:00:00')

In [86]:
most_sales_game = df_y.sort_values('Global_Sales', ascending=False).iloc[0,1]

In [87]:
print(most_sales_game)

Kinect Adventures!

### 2) Игры какого жанра были самыми продаваемыми в Европе? Перечислить все, если их несколько

In [99]:
most_eu_sales_game = df_y.sort_values('EU_Sales', ascending=False).iloc[0,4]

In [100]:
most_eu_sales_game

'Simulation'

### 3) На какой платформе было больше всего игр, которые продались более чем миллионным тиражом в Северной Америке? Перечислить все, если их несколько

In [72]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006-01-01,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1999-01-01,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008-01-01,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009-01-01,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996-01-01,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [90]:
most_sales_game_platform = df_y.query('NA_Sales > 1').sort_values('Global_Sales', ascending=False).iloc[0,2]

In [91]:
most_sales_game_platform

'X360'

### 4) У какого издателя самые высокие средние продажи в Японии? Перечислить все, если их несколько

In [93]:
most_sales_publisher_jp = df_y \
    .groupby('Publisher', as_index=False) \
    .agg({'JP_Sales': 'mean'}) \
    .sort_values('JP_Sales', ascending=False) \
    .iloc[0,0]

In [94]:
most_sales_publisher_jp

'Nintendo'

### 5) Сколько игр продались лучше в Европе, чем в Японии?

In [97]:
count_games_eu_gr_jp = len(df_y.query('EU_Sales > JP_Sales'))

In [98]:
count_games_eu_gr_jp

646