In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-v-trifonov-20/airflow/dags/v-trifonov-20/vgsales.csv')

In [96]:
login = 'v-trifonov-20'
year = 1994 + hash(f'{login}') % 23

In [97]:
df_year = df[df.Year == year]

In [218]:
df_year.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
132,133,Pokémon Crystal Version,GB,2000.0,Role-Playing,Nintendo,2.55,1.56,1.29,0.99,6.39
173,174,Final Fantasy IX,PS,2000.0,Role-Playing,SquareSoft,1.62,0.77,2.78,0.14,5.30
223,224,Driver 2,PS,2000.0,Action,Atari,2.36,2.10,0.02,0.25,4.73
225,226,Tony Hawk's Pro Skater 2,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68
242,243,Dragon Quest VII: Warriors of Eden,PS,2000.0,Role-Playing,Enix Corporation,0.20,0.14,4.10,0.02,4.47

### Какая игра была самой продаваемой в этом году во всем мире?

In [99]:
top_sales_world = df_year.sort_values('Global_Sales', ascending=False).head(1).values[0][1]

In [100]:
top_sales_world

'Pokémon Crystal Version'

### Игры какого жанра были самыми продаваемыми в Европе? Перечислить все, если их несколько

In [101]:
top_sales_eu = df_year.groupby('Genre', as_index=False).agg({'EU_Sales': 'mean'}).sort_values('EU_Sales', ascending=False).max().values[:]

In [102]:
top_sales_eu

array(['Strategy', 0.2463636363636364], dtype=object)

### На какой платформе было больше всего игр, которые продались более чем миллионным тиражом в Северной Америке? Перечислить все, если их несколько

In [126]:
top_platform_na = df_year.query('NA_Sales > 1').value_counts('Platform').idxmax()

In [127]:
top_platform_na

'PS'

### У какого издателя самые высокие средние продажи в Японии? Перечислить все, если их несколько

In [162]:
df_year.groupby('Publisher', as_index=False) \
    .agg({'JP_Sales': 'mean'}) \
    .sort_values('JP_Sales', ascending=False) \
    .iloc \
    [df_year.groupby('Publisher', as_index=False) \
        .agg({'JP_Sales': 'mean'}) \
        .sort_values('JP_Sales', ascending=False) \
        .JP_Sales \
        .idxmax()
    ]

Publisher    Tecmo Koei
JP_Sales          0.094
Name: 52, dtype: object

In [195]:
top_sales_publisher_jp = df_year.groupby('Publisher', as_index=False) \
    .agg({'JP_Sales': 'mean'}) \
    .sort_values('JP_Sales', ascending=False) \
    [df_year.groupby('Publisher', as_index=False) \
        .agg({'JP_Sales': 'mean'}) \
        .sort_values('JP_Sales', ascending=False) \
        .JP_Sales
    == \
    df_year.groupby('Publisher', as_index=False) \
        .agg({'JP_Sales': 'mean'}) \
        .sort_values('JP_Sales', ascending=False) \
        .JP_Sales \
        .max()] \
    .values[:]

In [204]:
top_sales_publisher_jp

array([['Enix Corporation', 1.6633333333333333]], dtype=object)

### Сколько игр продались лучше в Европе, чем в Японии?

In [216]:
number_game_sold_better_eu_from_jp = df_year[df_year['EU_Sales'] > df_year['JP_Sales']].Rank.count()

In [217]:
number_game_sold_better_eu_from_jp

234