In [2]:
import pandas as pd
import datetime
import vk_api
import os
import requests
import json
import random

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import sys

In [3]:
token = 'b862730a72587601fe0bb2beaef8fc78207daee00b4496c4120b232f8d8be764e3ace9bd8a5e67897c754'

In [3]:
vk_session = vk_api.VkApi(token=token)
vk = vk_session.get_api()

In [4]:
vk.messages.send(
    chat_id=1,
    random_id=3,
    message='Haaaaaa')

0

In [5]:
path = '/home/jupyter-d.bezhenar-15/shared/hall_of_fame/lesson_7/ads_data.csv'

In [10]:
df = pd.read_csv(path)

In [11]:
df.head()

,ad_id,time,event,date,ad_cost_type,has_video,client_union_id,campaign_union_id,platform,ad_cost,target_audience_count,user_id
0,23456,1554076848,view,2019-04-01,CPM,0,5681,23456,android,190.0,125560,793
1,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,1041
2,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,41
3,42987,1554135866,view,2019-04-01,CPM,0,28541,42985,ios,199.1,80160,898
4,23456,1554135866,view,2019-04-01,CPM,0,5681,23456,web,190.0,125560,29

In [26]:
ad_data = df.groupby(['ad_id', 'event'], as_index=False) \
    .agg({'user_id': 'count'})

In [27]:
ad_data = ad_data.pivot(index='ad_id', columns='event', values='user_id').reset_index()

In [28]:
ad_data = ad_data.fillna(0).assign(ctr = ad_data.click / ad_data.view)

In [31]:
top_ctr = ad_data.query('click > 20 & view > 100').sort_values('ctr').tail(10)

In [33]:
top_ctr.to_csv('top_ctr_data.csv', index=False)

In [34]:
path = '/home/jupyter-d.bezhenar-15/shared/hall_of_fame/lesson_7/top_ctr_data.csv'
file_name = 'top_ctr_data.csv'

path_to_file = path
upload_url = vk.docs.getMessagesUploadServer(peer_id=2000000001)["upload_url"]
file = {'file': (file_name, open(path_to_file, 'rb'))}

response = requests.post(upload_url, files=file)

json_data = json.loads(response.text)
json_data

{'file': '134688366|0|-1|536132|1d167bf30b|csv|403|top_ctr_data.csv|c2f9e346fc49058f43500d24dbf7ae44|b48fbabe2e4acd3b9fe86ab78587a7d3||||eyJkaXNrIjoiNSIsInBlZXJfc2VuZGVyIjoiLTIwNzEzOTcyNCJ9'}

In [35]:
saved_file = vk.docs.save(file=json_data['file'], title=file_name)

In [36]:
saved_file

{'type': 'doc',
 'doc': {'id': 613456214,
  'owner_id': 134688366,
  'title': 'top_ctr_data.csv',
  'size': 403,
  'ext': 'csv',
  'date': 1631641743,
  'type': 1,
  'url': 'https://vk.com/doc134688366_613456214?hash=b22599cb3998efc90b&dl=FUZDANZRGM4TOMRU:1631641743:f3b1a04e4f6e9f0bc0&api=1&no_preview=1'}}

In [37]:
attachment = 'doc{}_{}'.format(saved_file['doc']['owner_id'], saved_file['doc']['id'])

In [38]:
attachment

'doc134688366_613456214'

In [39]:
vk.messages.send(
    chat_id=1,
    random_id=4,
    message='Топ объявлений по CTR', 
    attachment = attachment
)

0

In [73]:
import gspread
from df2gspread import df2gspread as d2g
from oauth2client.service_account import ServiceAccountCredentials

In [74]:
path_to_credential ='/home/jupyter-d.bezhenar-15/shared/hall_of_fame/lesson_7/prefab.json'

In [75]:
table_name = 'testtabl'

In [76]:
scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

In [77]:
credentials = ServiceAccountCredentials.from_json_keyfile_name(path_to_credential, scope)

In [78]:
gs = gspread.authorize(credentials)
work_sheet = gs.open(table_name)

In [95]:
sheet1 = work_sheet.sheet1
data = sheet1.get_all_values()
headers = data.pop(0)
df = pd.DataFrame(data, columns=headers)

In [88]:
sheet1.append_row(['folder', 56])

{'spreadsheetId': '1y5OxfgGiPekuzPGpYAwzYMQ9nE96nF18T8QO0wj2ApA',
 'tableRange': 'List!A1:B4',
 'updates': {'spreadsheetId': '1y5OxfgGiPekuzPGpYAwzYMQ9nE96nF18T8QO0wj2ApA',
  'updatedRange': 'List!A5:B5',
  'updatedRows': 1,
  'updatedColumns': 2,
  'updatedCells': 2}}

In [96]:
df

     name age
0     den  35
1    tank  40
2    mark  25
3  folder  56

In [100]:
# Looks like spreadsheet should be already present at the dist (so, run code in create table section)
spreadsheet_name = 'test'
sheet = 'Sheet'
d2g.upload(df, spreadsheet_name, sheet, credentials=credentials, row_names=True)