In [51]:
import pandas as pd

In [52]:
df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-a-a-30/PRIDUCT/KC_case_dataÂ .csv')

In [53]:
# Convert the date column to a datetime format
df['date'] = pd.to_datetime(df['date'])

# Group data by date and count the number of unique device_id values
mau = df.groupby(pd.Grouper(key='date', freq='M')).device_id.nunique()

print(mau)

date
2020-01-31    99161
2020-02-29    75032
2020-03-31    74623
Freq: M, Name: device_id, dtype: int64

In [54]:
january_installs = df[df["date"].dt.month == 1]["event"].value_counts()["app_install"]
january_installs

80297

In [61]:
df.groupby()

,date,event,gender,os_name,city,device_id,urm_source,purchase_sum
0,2022-01-01,app_install,male,iOS,New York,device_1,yandex_direct,0.0
1,2022-01-02,registration,female,Android,San Francisco,device_2,google_ads,0.0
2,2022-01-03,purchase,male,Android,London,device_3,instagram_ads,100.0
3,2022-01-04,search,female,iOS,Paris,device_4,vk_ads,0.0
4,2022-01-05,app_start,male,Android,New York,device_5,referral,0.0