In [1]:
import pandas as pd
import numpy as np
import datetime

In [15]:
n_users = 1000

In [19]:
user_ids = list(range(1, n_users + 1))

In [17]:
now = 1630570257

In [25]:
sections = ['feed', 'music', 'message', 'photo']

In [139]:
df = pd.DataFrame()

n_samples = 30
sample_size = 100

for i in range(n_samples):
    sections_data = np.random.choice(sections, sample_size, replace=True)
    user_ids_temp = np.random.choice(user_ids, sample_size, replace=True)
    
    
    df_temp = pd.DataFrame({'id': user_ids_temp, 'section': sections_data})
    
    df = df.append(df_temp)
    
mu, sigma = 0, 7*24*24*60 # mean and standard deviation
t = np.round(np.random.normal(mu, sigma, n_samples * sample_size)) + now

df['time'] = t
df['time'] = df['time'].astype('int')
df['time'] = df['time'].astype('str')

In [140]:
df.to_csv('df.csv', index=False, sep=';')

In [4]:
df = pd.read_csv('df.csv', sep=';')

In [5]:
df.head()

    id  section        time
0  601  message  1630771103
1  124     feed  1630447703
2  484  message  1630845727
3  569  message  1630406014
4  838     feed  1630611423

In [141]:
# какие секции есть в данных
df.section.unique()

array(['message', 'feed', 'photo', 'music'], dtype=object)

In [142]:
# топ 10 юзеров по прослушиванию музыки

In [143]:
df[df['section'] == 'music'] \
    .groupby('id', as_index=False) \
    .agg({'section': 'count'}).sort_values('section', ascending=False).head()

      id  section
255  480        5
490  926        4
215  415        4
27    61        4
492  929        4

In [144]:
# что делают те, кто не смотрит ленту, какой у них самый популярный раздел

In [145]:
df[~df['id'].isin(df[df['section'] == 'feed'].id)] \
    .groupby('section', as_index=False) \
    .agg({'id': 'count'}).sort_values('id', ascending=False)

   section   id
0  message  374
2    photo  358
1    music  349

In [146]:
# кто дольще всех пользуется нашим продуктом

In [147]:
df['time'] = df['time'].astype('int')

In [148]:
df_ = df.groupby('id', as_index=False).agg({"time": [np.min, np.max]})

In [149]:
df_['time']['amax'] - df_['time']['amin']

0       43641
1      453842
2       55088
3      248239
4      324046
        ...
942         0
943    846098
944    290420
945      7040
946    355183
Length: 947, dtype: int64

In [150]:
df_['diff'] = df_['time']['amax'] - df_['time']['amin']

In [151]:
df_.sort_values('diff', ascending=False).head(5)

      id        time                 diff
                amin        amax
671  710  1629745355  1631004887  1259532
422  448  1630170353  1631413924  1243571
614  648  1630069726  1631189657  1119931
437  465  1630061351  1631145990  1084639
5      6  1630004173  1631051201  1047028