In [88]:
import pandas as pd
from datetime import timedelta
from datetime import datetime

In [89]:
TOP_1M_DOMAINS = 'http://s3.amazonaws.com/alexa-static/top-1m.csv.zip'
TOP_1M_DOMAINS_FILE = 'top-1m.csv'

In [90]:
def get_data():
    # Здесь пока оставили запись в файл, как передавать переменую между тасками будет в третьем уроке
    top_doms = pd.read_csv(TOP_1M_DOMAINS)
    top_data = top_doms.to_csv(index=False)

    with open(TOP_1M_DOMAINS_FILE, 'w') as f:
        f.write(top_data)

In [91]:
get_data()

In [118]:
def get_top_10_domain_zone():
    top_data_df = pd.read_csv(TOP_1M_DOMAINS_FILE, names=['rank', 'domain'])
    top_data_df['domen_zone'] = top_data_df.domain.apply(lambda x: x.split('.')[1])
    top_10_domain_zone = pd.DataFrame(top_data_df.domen_zone \
                                      .value_counts() \
                                      .head(10)).reset_index()
    
    with open('top_10_domain_zone.csv', 'w') as f:
        f.write(top_10_domain_zone.to_csv(index=False, header=False))

In [119]:
get_top_10_domain_zone()

In [122]:
def get_top_name_length():
    top_doms = pd.read_csv(TOP_1M_DOMAINS_FILE, names=['rank', 'domain'])
    top_doms['name_length'] = top_doms.domain.apply(lambda x: len(x))
    max_length_domain = top_doms.sort_values('name_length', ascending=False).head(1)
    
    with open('max_length_domain.csv', 'w') as f:
        f.write(max_length_domain.to_csv(index=False, header=False))

In [123]:
get_top_name_length()

In [144]:
def get_airflow_rank():
    top_data_df = pd.read_csv(TOP_1M_DOMAINS_FILE, names=['rank', 'domain'])
    airflow_rank = top_data_df.query('domain == "airflow.com"')
    
    with open('airflow_rank.csv', 'w') as f:
        f.write(airflow_rank.to_csv(index=False, header=False))

In [145]:
get_airflow_rank()

In [124]:
top_data_df = pd.read_csv(TOP_1M_DOMAINS_FILE, names=['rank', 'domain'])

In [136]:
top_data_df.query('domain == "airflow.com"').iloc[0,0]

590603

In [141]:
top_data_df.query('domain == "skygear.ru"')

          rank      domain
759610  759611  skygear.ru

In [73]:
top_doms = pd.read_csv(TOP_1M_DOMAINS, names=['rank', 'domain'])

In [74]:
top_doms.head(10)

   rank         domain
0     1     google.com
1     2    youtube.com
2     3      baidu.com
3     4   bilibili.com
4     5   facebook.com
5     6         qq.com
6     7    twitter.com
7     8      zhihu.com
8     9  wikipedia.org
9    10     amazon.com

In [79]:
top_doms['domen_zone'] = top_doms.domain.apply(lambda x: x.split('.')[1])

In [108]:
top_doms.head()

   rank        domain domen_zone
0     1    google.com        com
1     2   youtube.com        com
2     3     baidu.com        com
3     4  bilibili.com        com
4     5  facebook.com        com

In [109]:
top_doms.domen_zone.value_counts().head(10)

com           429092
org            40447
co             33473
net            31103
ru             21052
de             16218
nl             13995
it             11632
sharepoint     10772
pl              8986
Name: domen_zone, dtype: int64

In [114]:
top_10_zone = pd.DataFrame(top_doms.domen_zone.value_counts() \
                           .head(10)).reset_index().rename(columns={'index': 'domain_zone',
                                                                   'domen_zone': 'count'})

In [115]:
top_10_zone

  domain_zone   count
0         com  429092
1         org   40447
2          co   33473
3         net   31103
4          ru   21052
5          de   16218
6          nl   13995
7          it   11632
8  sharepoint   10772
9          pl    8986

In [14]:
len(top_doms.iloc[1,1])

11

In [35]:
top_doms.sort_values('name_length', ascending=False).iloc[1]

rank                                                      589170
domain         aaalrt-cal-nosw-xx-sse-cc-cdcdc-cklmll-dc-dcsz...
name_length                                                   78
Name: 589169, dtype: object